/* Modal Header */
.dialog-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .dialog-body {padding: 2px 16px;}
  
  /* Modal Content */
  .dialog-content {
      display: none;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: slideFromBottom;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes slideFromBottom {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  /* The Close Button */
#dialog-close-icon {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #dialog-close-icon:hover,
  #dialog-close-icon:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  form > * {
    display: block;
  }