/* Modal Header */
.dialog-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .dialog-body {padding: 2px 16px;}
  
  /* Modal Content */
  .dialog-content {
      display: none;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: slideFromBottom;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes slideFromBottom {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  /* The Close Button */
#dialog-close-icon {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
#dialog-close-icon:hover,
#dialog-close-icon:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
form > * {
  display: block;
}

form input, select, button {
  display: block;
  width: 363px;
  height: 38px;
  margin-top: 20px;
}

#register-btn {
  color: #ffffff;
  background-color: #497ee9;
  border: 2px solid #0d39bf;
  font-size: larger;
  border-radius: 25px;
}

div {
  width: 401px;
  height: fit-content;
  padding: 19px;
  text-align: center;
  margin: 20px auto;
}

input, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:hover, select:hover {
  border: 2px solid #5776f1;
}

.invalidField {
  border: 2px solid darkred;
}

#register-btn:hover {
  background-color: #262385;
  color: rgb(255, 255, 255);
}

#title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: xxx-large;
}


#login-section {
  vertical-align:middle;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display:table;
}

form {
  display:table;
  margin:auto;
}

.inputLabel {
  display: flex;
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bold;
}

section input {
  margin-top: 0;
  margin-bottom: 20px;
}

.invalidLabel {
  background: darkred;
  width: 363px;
  height: 36px;
  color: white;
  display: flex;
  font-size: 20px;
  align-items: center;
}
.img {
display: block;
margin-left: auto;
margin-right: auto;

width: 5%;
height: 3%;
}