body {
  background-color: #282c34;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: auto;
}

button {
  color: #ffffff;
  background-color: #598df4;
  border: 2px solid #d5d5e7;
  font-size: larger;
  border-radius: 25px;
  margin-bottom: 10px;
}
button:hover {
  background-color: #7ba1ec;
  color: rgb(255, 255, 255);
}
.table-button {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Modal Header */
.dialog-header {
  padding: 2px 16px;
  background-color: #598df4;
  position: relative;
}

/* Modal Body */
.dialog-body {
  padding: 2px 16px;
}

/* Modal Content */
.dialog-content {
  display: none;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: slideFromBottom;
  animation-duration: 1s;
}

/* Add Animation */
@keyframes slideFromBottom {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.img:hover {
  animation-name: lift;
  animation-duration: 1s;
}

a {
  text-decoration: none;
  color: #2975a5;
}

@keyframes lift {
  from {
    transform: translate(0, 0px);
  }
  to {
    transform: translate(0, -10px);
  }
}

/* The Close Button */
#dialog-close-icon {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #282c34;
  margin: auto;
  position: absolute;
  top: 50%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5%;
}

#dialog-close-icon:hover,
#dialog-close-icon:focus {
  color: black;
  background-color: red;
  text-decoration: none;
  cursor: pointer;
}

#dynamic_table {
  display: none;
}

.dialog_label {
  color: black;
}

form input,
select,
button {
  display: block;
  width: 363px;
  height: 38px;
  margin-top: 20px;
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:hover,
select:hover {
  border: 2px solid #5776f1;
}

.invalidField {
  border: 2px solid darkred;
}

#title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  font-size: xxx-large;
}

#login-section {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: table;
}

form {
  display: table;
  margin: auto;
}

.inputLabel {
  display: flex;
  font-size: large;
  font-weight: bold;
}

section input {
  margin-top: 0;
  margin-bottom: 20px;
}

.invalidLabel {
  background: darkred;
  width: 363px;
  height: 36px;
  color: white;
  display: flex;
  font-size: 20px;
  align-items: center;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 5%;
  height: 3%;
}

nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover {
  background-color: #111;
}

.active {
  background-color: #2975a5;
}

main {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

td > input {
  margin: 5px;
}
tbody tr:nth-child(odd) {
  background-color: #194df9;
}

tbody tr:nth-child(even) {
  background-color: #bfc7d5;
}

table {
  margin: auto;
  left: 50%;
}

td > input {
  background-color: lightblue;
  max-width: 150px;
}
